/*------------------------------
COMMOM HEADERS
--------------------------------*/	
#header {
	float: left;
	width: 100%;
	background: #373142;
	min-width: 1004px;
}
#header ul {
	float: right;
}
#header ul li {
	float: left;
	line-height: 14px;
	padding: 28px 17px;
}
#header ul li a {
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
}
#header ul li:last-child {
	border-right: none;
	padding: 28px 17px 28px 17px;
}
#header ul li.activ, #header ul li:hover {
	background-color: #b17f53;
}
#header ul li a.activ {
	background-color: #b17f53;
}
/*------------------------------
COMMOM HEADERS END
--------------------------------*/	




#contents {
	float: left;
	width: 100%;
	display: block;
	padding-left: 0px;
	padding-top: 0px;
}
h1 {
	float: left;
	width: 100%;
	padding: 10px 0;
	font-weight: 400;
	font-size: 26px;
	color: #2B529C;
	margin: 10px 0;
	text-transform: uppercase;
}
.product-page {
	margin-top: 20px;
	margin-right: 0px;
	overflow: visible;
	height: auto;
	padding-bottom: 20px;
	background-color: #FFF;
}
.t-cart-1 {
	font-weight: 400;
	text-align: left;
	padding: 10px;
	background: white;
	font-size: 17px;
}
.t-cart-2 {
	text-align: center;
	font-size: 17px;
	padding: 10px;
	background: white;
	font-weight: 400;
}
.t-cart-h {
	text-align: left;
	color: #fff;
	padding: 10px;
	font-weight: 400;
	background: #0aa1bc;
	text-align: center;
}
.prod-checkout {
	margin-left: 10px;
	letter-spacing: -1px;
	font-weight: 700;
	color: #002a80;
	text-decoration: none;
	font-size: 16px;
}
.prod-checkout:hover {
	color: blue;
}
a.prod-clearcart, #browse, .cont-shop, .prcd-chk {
	float: left;
	color: #000;
	background: #ffb400;
	text-transform: uppercase;
	font-size: 17px;
	color:#fff;
	padding: 8px 20px;
	border: 1px solid #fff;
	font-weight: 600;
	border-radius: 30px;
	margin: 4px 0 0;
	font-family: 'MrEavesXLModOT-Book';
}
.cont-shop:hover, a.prod-clearcart:hover,.prcd-chk:hover {
	color: #fff;
	border: 1px solid #fff
}
a.prod-clearcart, .cont-shop,.prcd-chk {
	/*position: absolute;
	left: 58px;
	top: 27px;*/
}
.prcd-chk{
	
}
.cont-shop {
    float: right;
}
#browse {
	position: relative;
	right: 0;
	top: -15px;
	margin-right: 10px;
}
.optionlist-long {
	font-weight: 400;
	font-size: 14px;
	width: 340px;
}
.t-cart-add {
	display: block;
	float: right;
	margin-top: 4px;
	margin-right: 15px;
	height: 16px;
	width: 16px;
	background: url(../images/cart-increase.png) no-repeat 3px 3px #3f9528;
	border: none;
	padding: 0;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}
.t-cart-sub {
	display: block;
	float: left;
	margin-top: 4px;
	margin-left: 15px;
	height: 16px;
	width: 16px;
	background: url(../images/cart-decrease.png) no-repeat center center #808080;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}
.t-cart-del {
	float: left;
	margin-right: 10px;
	display: block;
	height: 18px;
	width: 18px;
	cursor: pointer;
	margin-top: 3px;
	border: 1px solid red;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: url(../images/cart-remove.png) no-repeat;
}
.cart-product {
	float: left;
	width: 50px;
	border: 1px dotted #d0d0d0;
}
.prodnm {
	float: left;
	margin: 2% 0 2% 15px;
	color: #211b2d;
	vertical-align: middle;
}
/* shipping--*/
.frm-container {
	width: 62%;
	float: left;
	background-color: #fff;
	padding-bottom: 15px;
	text-align: left;
	margin-top: 0px;
}
/*.frm-container-show{display:block}*/

.inner-container {
	float: left;
	width: 100%;/*padding:0 15px;*/
}
.frm-container .frm-container-inner {
	float: left;
	width: 100%;
	padding: 15px 15px;
}
.frm-container-inner {
	background: #fff;
	border: 1px solid #162748;
}
.frm-container:last-child {
	float: right;
	width: 35%;
}
.cart-smmry {
	width: 100%;
	margin-bottom: 20px;
	margin-right: 0;
	border: none;
	float:left;
	width:100%;
	margin-top:0;}
/************CART ORDER SUMMERY****************/
div#cartBox {
	float: left;
    width: 100%;
    min-height: 300px;
}
.cart_hdr {
	float: left;
	width: 65%;
	padding: 10px 15px;
	border: 1px solid #000000;
	background: #f44336;
	border-radius:5px;
}
.prd_img, .prd_name, .prd_prc, .prd_qty, .prd_total, .prd_ship {
	float: left;
	text-align: center;
	width: 19%;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}
.prd_name, .prd_prc, .prd_qty, .prd_total, .prd_ship {
	margin: 8px 0;
}
.prd_qty, .prd_ship {
    width: 11%;
}
.prd_name, .prd_img {
    text-align: left;
    width: 40%;
    position: relative;
    padding-left: 40px;
}
.prd_name img {
    position: absolute;
    left: 0;
    top: -9px;
}
.summry-lft {
	float: left;
	width: 60%;
	background: #e5e5e5;
	padding: 10px 20px;
}
.summry-lft-hdr, .cart-totl-hdr {
	float: left;
	width: 100%;
	background: #f85372;
	padding: 10px 15px;
	margin-bottom: 15px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 3px;
}
.summry-lft-hdr span {
	float: right;
}
.prod_details {
	float: left;
	width: 65%;
	position: relative;
	padding: 0 18px 15px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #a1a1a1;
}
.prod_details.last {
	border-bottom: none;
	font-size: 20px;
	margin-bottom: 0;
}
.prod_details img.cart-remv {
	position: absolute;
	right: 20px;
    top: 26px;
}
.prod_name {
	float: left;
    width: 40%;
    position: relative;
    padding: 20px 0 20px 75px;
    text-align: center;
}
.prod_name img {
	max-width: 50px;
    position: absolute;
    left: 0;
    top: 7px;
}
.prod_smmry {
	position: absolute;
	max-width: 80px;
	left: 0;
	top: 5px;
	border: 1px solid #ccc;
}
.prod_name .product_name {
	color: #130101;
	font-size: 17px;
	line-height: 22px;
	float: left;
	font-weight: normal;
	width: 100%;
	text-align: left;
}
.prod_name .product_name span {
    display: block;
    font-size: 14px;
    line-height: 15px;
}
.prod_name .prd_qty {
	float: left;
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: left;
}
.cart_prod_qty, .cart_prc_subtotl, .cart_prod_prc, .cart_prod_shp {
	float: left;
	color: #212121;
	font-size: 18px;
	line-height: 25px;
	font-weight: 300;
	margin-top:20px;
	width: 19%;
	text-align: center;
}
.cart_prod_qty, .cart_prod_shp {
    width: 11%;
}
.cart-totl {
	float: right;
	width: 33%;
	padding: 20px 15px;
	text-align: left;
	background: #f44336;
	position: absolute;
	right: 0;
	border: 1px solid #000;
	border-radius: 5px;
}
.cart-summery {
    float: left;
    width: 100%;
}
.cart-links{
	float:left;
	width:100%;}
.cart-sb-totl, .shp-charge, .total-amt {
	float: left;
	width: 100%;
	padding: 6px 0 14px;
	color: #ffffff;
	font-size: 18px;
	line-height: 22px;
}
.cart-sb-totl {
	margin-bottom: 10px;
}
.sub-prc, .shp-prc, .total-prc {
	float: right;
}
.total-amt {
	color: #fff;
	padding: 12px 0;
	font-size: 20px;
	font-weight: bold;
	border-top: 2px solid #fff;
}
.sub-prc {
	color: #fff;
	font-weight: 500;
}
/*********************************/
.shipping_heading {
	width: 100%;
	margin: 0px 0 0px 0;
	float: left;
	background: #f44336;
	padding: 20px 0 20px 20px;
	color: #fff;
}
.shipping_heading h3 {
	font-family: 'MrEavesXLModOT';
	font-weight:700;
	font-size: 20px;
	line-height: 22px;
	float: left;
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
}
.sameas-cart {
	float: left;
	width: 100%;
	text-align: center;
	font-weight: 400;
	font-size: 15px;
	margin-bottom: 10px;
}
.label {
	float: left;
	width: 100%;
	margin: 0;
	color: #696969;
	font-size: 15px;
	position: relative;
	margin-bottom: 20px;
}
.label i {
	position: absolute;
	left: 10px;
	top: 15px;
	font-size: 14px;
	z-index: 999;
	display: none;
}
.label p {
	color: #010101;
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.is_bill {
	float: left;
	width: 100%;
	padding: 0 10px 0 25px;
	font-size: 15px;
	line-height: 20px;
	color: #4a4a4a;
	position: relative;
	box-sizing: border-box;
}
.is_bill input[type="checkbox"] {
	height: 20px;
	width: 20px;
	position: absolute;
	left: 0px;
	top: 0;
}
.billingDiv {
	display: none
}
.cards {
	float: left;
	width: 100%;
	padding: 8px 10px;
	text-align: center;
}
.cards span {
	float: left;
	padding: 10px 0;
}
.cards img {
	float: left;
	max-width: 160px;
	margin-top: 5px;
	margin-left: 10px;
}
.exp-year {
/*left:190px !important;*/
}
.cartcard {
	float: left;
	padding-left: 10px;
}
.Accept {
	float: left;
	color: #696969;
	font: bold 13px tahoma;
	line-height: 43px;
	padding-left: 62px;
}
input[type=text], input[type=email], input[type=number], select {
	width: 100%;
	font-size: 17px;
	font-family: inherit;
	padding: 8px 0 8px 12px;
	border: 1px solid #d7d9e0;
	background: #FFF;
	border-radius: 5px;
	height: 43px;
	font-family: 'MrEavesXLModOT-Book';
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance:none;
}
select {/*padding:8px 0 8px 19px;*/
}
select option {
	padding-left: 0
}
.small-s, .small {
	width: 49%!important;
}
.flr-r {
	float: right;
}
.label a, .label a:hover {
	color: #211b2d;
	text-decoration: underline;
	float: left;
	margin: 10px 0px 0 16px;
}
.submit-btn {
	display: inline-block;
    margin: 30px auto 0;
   background:#ffb400;
    font-size: 26px;
    line-height: 26px;
    font-weight: 600;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    position: relative;
    padding: 18px 40px;
	outline:none;
	border:none;
	font-family: 'MrEavesXLModOT-Book';
	cursor:pointer;
}
.cart-terms {
	float: left;
	width: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	padding: 8px 0px 8px 25px;
	text-align: left;
	position: relative;
}
.cart-terms input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 10px;
    height: 20px;
    width: 20px;
}
.trm_1 span{
	margin-bottom:10px;
	float:left;
}

.cart-terms a {
    text-decoration: underline;
    color: blue;
}
.clearall {
	clear: both;
}
/*PROMO CODE*/
.promoBox {
    float: left;
    width: 100%;
    margin-top: 0px;
}
.promoBox .promoFld {
       float: left;
    width: calc(100% - 124px);
    border: 1px solid #9a9a9a;
    font-size: 18px;
    padding: 7px 15px;
    outline: none;
    border-radius: 5px;
    color: #000;
    line-height: 26px;
    margin: 1px 0 10px 0;
    height: 43px;
	font-family: 'MrEavesXLModOT-Book';
}
.promoBtn {
    float: right;
    background-image: linear-gradient(#00c650, #00bb4c, #00b349);
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    padding: 13px 18px 13px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    width: 120px;
    text-align: center;
    line-height: 18px;
	font-family: 'MrEavesXLModOT';
}
.dis-charge {
    float: left;
    width: 100%;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    padding: 9px 0px;
    border-bottom: 1px solid #CCC;
}
/* ------------Processing Box------------------ */
#processing-box-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 900;
	background-color: #000;
	opacity: .7;
	filter: alpha(opacity=70);
}
#processing-box-inner {
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: white;
	z-index: 1002;
	overflow: auto;
	width: 200px;
	height: 90px;
	margin-left: -100px;
	margin-top: -100px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #666;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 20px;
	display: none;
}
/* ------------------------------ */	
.middle_box_margin {
	margin: 0 35px;
}
.frm_con_bgcolr {
	display: table;
}
