@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'MrEavesXLModOT';
    src: local('☞MrEavesXLModOT-Heavy'), local('MrEavesXLModOT-Heavy'),
        url('MrEavesXLModOT-Heavy.woff2') format('woff2'),
        url('MrEavesXLModOT-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MrEavesXLModOT';
    src: local('☞MrEavesXLModOT-Bold'), local('MrEavesXLModOT-Bold'),
        url('MrEavesXLModOT-Bold.woff2') format('woff2'),
        url('MrEavesXLModOT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MrEavesXLModOT-Book';
    src: local('☞MrEavesXLModOT-Book'), local('MrEavesXLModOT-Book'),
        url('MrEavesXLModOT-Book.woff2') format('woff2'),
        url('MrEavesXLModOT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MrEavesXLModOT-Ultra';
    src: local('☞MrEavesXLModOT-Ultra'), local('MrEavesXLModOT-Ultra'),
        url('MrEavesXLModOT-Ultra.woff2') format('woff2'),
        url('MrEavesXLModOT-Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MrEavesXLModOT';
    src: local('☞MrEavesXLModOT-Light'), local('MrEavesXLModOT-Light'),
        url('MrEavesXLModOT-Light.woff2') format('woff2'),
        url('MrEavesXLModOT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MrEavesXLModOT';
    src: local('☞MrEavesXLModOT-Thin'), local('MrEavesXLModOT-Thin'),
        url('MrEavesXLModOT-Thin.woff2') format('woff2'),
        url('MrEavesXLModOT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
