@charset "utf-8";
/* CSS Document */
/*----------------
RESET CSS
-----------------*/
body {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0;
	color: #3d3d3d;
	font-family: 'MrEavesXLModOT-Book';
	font-weight:400;
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance:none;
}
div, ul, h1, h2, h3, h4, h5, li, p, img, form, input, textarea {
	margin: 0;
	padding: 0;
}
table, tr, td {
	border: 0;
}
* {
	box-sizing: border-box
}
a {
	outline: none;
	text-decoration: none;
	color:#2877be;
}
a:hover {
	outline: none;
	color:#fff;
	text-decoration: none;
}
img{border: none; max-width:100%; vertical-align:middle}
li {
	list-style: none;
}
.clearall {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}
/*-----------------------
MAIN CSS START
------------------------*/
.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
/*================== TOP SECTION ================*/
.top-sec {
	float: left;
	width: 100%;
	padding:10px 0;
	min-width:1170px;	
	position:relative;
	z-index:9;
}
ul.top-menu1{
	float:left;
	width:200px;
	margin: 11px 0 0 0;
	}
.top-menu1 li{
	float:left;
	margin:7px 0 10px 0;
	padding:0 15px;
	border-right:1px solid #dfdce0;
}	
.top-menu {
	float: right;
}
.top-txt1, .top-txt2 {
	float:left;
    font-size: 16px;
    line-height: 22px;
    text-align:left;
	padding:9px 25px 9px 47px;
	color:#fff;
	border-radius:22px;
	background:#162748;
	border-left:1px solid #fff;
	position:relative;
	margin:7px 0 0 0;
	cursor:pointer;
}
.top-txt2{
	float:right;
	padding:11px 25px 7px 47px;
}
.top-txt span{margin:0 0 0 17px;}		
.top-txt1 img, .top-txt2 img{
	position: absolute;
    top: 15px;
    left: 15px;
    border-right: 1px solid #fff;
    padding: 0px 8px 2px 0;
}

/*================== NAVIGATION SECTION ================*/	
.navigation-sec {
    float: left;
    width: 100%;
    margin: 0 0 0 0;
}
.logo, .nav-bar {
	float: left;
	margin-top:6px;
}
.logo {
	max-width: 260px;
	margin-top: 0px;
}
.nav-bar {
    float: right;
	margin-top:15px;
}
.nav-bar li {
	float: left;
	margin-left:0;
}
.nav-bar li a {
    font-weight: 400;
    float: left;
    color: #000;
    font-size: 22px;
    line-height: 26px;
    text-transform: capitalize;
    padding: 0 25px;
}
.nav-bar li:last-child {
	margin-right:0;
}
ul.nav-bar li a:hover, ul.nav-bar li a.active {
    padding: 0 25px;
    border-radius: 30px;

	}
.crt{
	float: right;
    position: relative;
    font-weight: 300;
    color: #333333;
    text-align: left;
    padding: 0 0 0 0;
    margin: 23px 0 0 0;
    font-size: 14px;
    width: 112px;
}	
.seach1{
	margin:0 20px 0 0;
}
.seach{
	margin:0 0 0 0;
}
.ship-icon{
	margin:0 9px -3px 0;
}
.crt-no{
position: absolute;
    top: -2px;
    left: 54px;
    background: #68bc54;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    border-radius: 20px;
    width: 16px;
    height: 16px;
    padding: 0 0 0 5px;
}
/*================== SECTION I================*/
.position{
	position:relative;}
.section1 {
	float: left;
	width: 100%;
	background:url(../images/section1.jpg) center top no-repeat;
	height:504px;
	min-width:1170px;
}
.sec1-lft {
    float: right;
    width: 48%;
    padding:70px 0 0 0;
}
.hd-line{
	display:block;
	margin:10px auto 0;
}
.s1-hd1 {
    float: left;
    width: 100%;
    font-size:60px;
    line-height: 66px;
    font-weight: 700;
    color: #234c6f;
    padding: 12px 0 0 0;
	text-transform:capitalize;
}
.s1-hd2 {
    float: left;
    font-size: 46px;
    line-height: 56px;
    color: #264555;
    position: relative;
    text-transform: capitalize;
}
.s1-hd2 span {
    display: block;
    font-family: 'MrEavesXLModOT';
    font-weight: 700;
    font-size: 69px;
    line-height: 71px;
    color: #0d1214;
    text-transform: uppercase;
}


.s1-ord-btn {
    display: inline-block;
    margin: 45px auto 0;
    background: #f44336;
    font-size: 22px;
    line-height: 32px;
    font-family: 'MrEavesXLModOT';
    font-weight: 700;
    color: #fff;
    border-radius: 0;
    text-decoration: none;
    text-align: center;
    position: relative;
    text-transform: capitalize;
    padding: 14px 0px;
    transition: all 0.3s;
    width: 210px;
    height: 60px;
    cursor: pointer;
}
.s1-ord-btn:hover {
	color:#fff;
    box-shadow: none;
}
.s1-ord-btn img {
    position: absolute;
    top: 25px;
    right: 30px;
}
.s1-pro {
    position: absolute;
    top: 117px;
    right: 175px;
}
.sec1-rgt{
	text-align:center;
    margin: 79px 0 0 0;
}
.s1-rgt-txt {
    font-size: 27px;
    line-height: 38px;
    color: #393939;
    display: inline-block;
    margin: 20px 0 0 0;
    width: 100%;
}
ul.s1-list {
    margin: 30px 0 0 0;
    float: left;
    width: 100%;
}
ul.s1-list li {
    float: left;
    width: 31%;
    text-align: left;
    font-size: 16px;
    line-height: 23px;
    color: #ffffff;
    margin: 0 18px 0 0;
    padding: 8px 0 0px 50px;
    position: relative;
}
ul.s1-list li img{
	position:absolute;
	top:0;
	left:0;}
ul.s1-list li span {
    display: block;
    font-size: 23px;
    line-height: 30px;
    font-family: 'Maison Neue';
    font-weight: 700;
}	
ul.s1-list li:last-child{
	margin-right:0;
	border-right:none;
}	
/*==================SECTION I BUTTOM SECTION===============*/
	
.section2 {
	float: left;
	width: 100%;
	padding: 55px 0;
	min-width:1170px;
	text-align:center;
}
.s2-rgt{
	text-align: left;
    float: right;
    width:555px;
    margin: 47px 0 0 0;
}
.s2-rgt-p1 {
    font-size: 34px;
    line-height: 42px;
    color: #343434;
    display: inline-block;
    width: 100%;
    text-transform: capitalize;
}

ul.s1btm-list1 {
    display: inline-block;
    width: 70%;
    margin: 40px 0 0 0;
    padding: 0 0;
}
ul.s1btm-list1 li {
    border: 1px solid #d3cece;
    float: left;
    width: 49%;
    position: relative;
    text-align: left;
    font-size: 28px;
    line-height: 34px;
    color: #0d1214;
    font-weight: 300;
    margin: 20px 0px 0 0px;
    padding:20px 0px 20px 100px;
    overflow: hidden;
	text-transform:capitalize;
}

ul.s1btm-list1 li:nth-child(even) {
    float: right;
}

.p2{
	display:inline-block;
	margin:5px 0 0;
	font-size:16px;
	line-height:28px;
	color:#e68c02;
	font-weight:700;
	background:url(../images/ritarw.png) no-repeat center top 25px;
	height:40px;
	}
.s2-icn1 {
    position: absolute;
    bottom: -10px;
    left: 19px;
}
.s2-img{
	display:block;
	margin:20px auto 0;
	}	
ul.s1btm-list1 li:last-child { margin-right:0;}
.s2-prd {
    position: absolute;
    top: -40px;
    left: 47%;
    transform: translateX(-48%);
    -webkit-transform: translateX(-48%);
    max-width: 390px;
}
.section2 .s1-ord-btn{
	margin:32px auto 0;}
.s2-p1{
	font-size:26px;
	line-height:33px;
	text-align:center;
	color:#f44336;
	font-weight:700;
	font-family: 'MarkPro';
	margin:10px auto 0;
}
.s2-arw{
	display:block;
	margin:10px auto 0;}
/*=================================================*/	
.strip {
    float: left;
    width: 100%;
    padding: 30px 0;
    min-width: 1170px;
    text-align: left;
    height: 589px;
    background:url(../images/strip-bg.jpg) center top no-repeat;
    position: relative;
}
.strp-lft{
	float:right;
	width:54%;
	text-align:left;
	}
.hd-line2{
	display:block;
	margin:20px 0 0 0;
}
.strp-lft .s1-btm-p3 span{
	font-size:45px;}
.strp-lft .s1-btm-p2{
	margin:20px;}	
ul.strp-lftlist{
	margin:0 0 0 -57px;
}
ul.strp-lftlist li {
    font-size: 18px;
    line-height: 28px;
    color: #313131;
    background: url(../images/dot.png) left top no-repeat;
    padding: 0 0 0 66px;
    margin: 18px 0 0 0;
    float: left;
    width: 100%;
}
ul.strp-lftlist li span{
	display:block;
	font-style:normal;
	font-size:24px;
	font-weight:700;
	color:#234c6f;
	margin-bottom:10px;
	text-transform:capitalize;
}	
/*==================SECTION III===============*/
	
.section3 {
	float: left;
	width: 100%;
	padding: 50px 0;
	text-align:center;
	min-width:1170px;
}
.section3 .s1-btm-p4 {
    color: #333;
}
.s1-btm-p2{
    display:inline-block;
    width: 100%;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    font-weight: 400;
}
.section2 .s1-btm-p2 {
    width: 70%;
    margin: 30px 0 0 0;
}
.s1-btm-p3{
	font-family: 'MrEavesXLModOT';
    float: left;
    width: 100%;
    font-size: 44px;
    line-height: 55px;
    color: #0d1214;
    font-weight: 700;
    margin: 0 auto;
    text-transform: capitalize;
    position: relative;
	}
.s1-btm-p3 span {
    display: block;
    font-family: 'MrEavesXLModOT-Book';
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #264555;
}
.section3 .s1-btm-p3{ color:#000;}
/*.s1-btm-p3:after{
	content: '';
	border-top:3px solid #c0a89c;
	width:21px;
	position:absolute;
	top:15px;
	left:-30px;
}	
.s1-btm-p3:before{
	content: '';
	border-top:3px solid #c0a89c;
	width:21px;
	position:absolute;
	top:15px;
	right:-30px;
}*/
.hd-line{
	display:block;
	margin:20px auto 0;
}	
.s1-btm-p4 {
    font-size: 22px;
    line-height: 33px;
    color: #393939;
    padding: 25px 0 0 0;
    display: inline-block;
    width: 80%;
}
.s2-rgt-p2{
	padding:20px 0 0 0;
	width:100%;
}
.s3-block {
    float: left;
    width: 100%;
}
.s3-box1 {
	position:absolute;
	top:20px;
	float:left;
	width: 335px;
	height: 571px;
	background:#fff;
	-webkit-box-shadow: 0 0 10px #e5e1e1;
        box-shadow: 0 0 10px #e5e1e1;
}
.s3-prod-img {
	display:block;
	margin:0 auto;
	padding: 10px 0 0 0;
}
.s3-box1-txt1 {
	text-align:center;	
	font-weight: 600;
    font-size: 21px;
	min-height: 66px;
    line-height: 25px;
    color: #000000;
	margin:30px auto 0 auto;
}
.s3-box1-txt2 {
	text-align:center;	
    font-size: 20px;
	line-height: 22px;
	color:#000;
	font-weight:300;
	margin-top:18px;
}
.s3-box1-txt3 {
    color: #41ae29;
    font-size: 22px;
	text-align:center;	
    font-weight: 500;
    line-height: 24px;
    margin-top: 6px;
}
.prod-btn {
	display: block;
    margin: 13px auto 0 auto;
}
.s3-box2, .s3-box3 {
	float: left;
    width: 31%;
    text-align: center;
	border:2px solid #e1e1e1;
	border-radius:12px;
    margin: 40px 12px 0;
    position: relative;
}
.p-blk .s3-box2.item {
    margin: 40px 10px;
}
.featurd-prod {
    width: 48%;
}
.featrd-pr {
    position: absolute;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    top: 70px;
    left: 20px;
    transform: rotate(-45deg);
    width: 110px;
    text-align: center;
    border-radius: 50%;
    background: #00b64a;
    height: 110px;
    padding: 36px 0;
}
.s3-box2-rgt, .s3-box2-rgt2{
	text-align: left;
    display: inline-block;
    width: 100%;
    padding: 21px 20px 30px;
	background:#fff8f7;
	margin:20px 0 0 0;
	border-radius:0 0 12px 12px;
	}
.s3-box2-rgt2{
	float:left;
}	
.s3-box2 .s1-ord-btn {
    margin: 25px 0 0;
    float: right;
    font-size: 20px;
    line-height: 20px;
    height: 47px;
    width: 160px;
}
.s3-box3{}

/*.s3-box2:nth-child(3),.s3-box2:nth-child(7), .s3-box2:last-child { margin-right:0;}*/
.s3-box2-txt1 {
	font-family: 'MrEavesXLModOT';
    font-weight: 700;
    font-size: 21px;
    line-height:33px;
    color: #f44336;
    margin-top: 20px;
    text-transform: capitalize;
    display: inline-block;
    width: 100%;
}
.s3-box2-txt3 {
    float: left;
    width: 40%;
    color: #171717;
    font-size: 24px;
    line-height: 33px;
    font-weight: 400;
    margin: 7px 0 0 0;
    text-align: left;
    min-height: 85px;
}
.s3-prod1 {
    float: left;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
}
.s3-box2-txt3 span {
    display: block;
    font-size: 33px;
    line-height: 32px;
    font-family: 'MrEavesXLModOT';
    font-weight: 700;
}
.s3-box2-txt4 {
    color: #343434;
    font-size:18px;
    line-height: 30px;
    margin: 20px 0 0 0;
	padding:0 10px;
}

.s3-prod-img1 {
    display: block;
    margin: 20px auto 0px;
    width: 160px;
}
.s3-prod-img2{
	display:block;
	margin:0 auto;
	padding:52px 0 0 0;
}
.s3-prod-img3{
	display:block;
	margin:0 auto;
	padding:40px 0 0 0;
}
.s3-prod-img4{
	display:block;
	margin:0 auto;
	padding:28px 0 0 0;
}
.prod-btn1 {
	vertical-align:top;
	margin-top:1px;
	float:right;
}
.pro1-bg{
	background: #f7f7f7;
    width: 302px;
    height: 247px;
    display: block;
    margin: 16px auto 0 auto;
}
/*.pro1-bg2,.pro1-bg3 {
    display: block;
	border:2px solid #004882;
	padding:30px 0;
	border-radius:30px;
}
.featrd-prod .pro1-bg2 {
    background: #018db1;
}*/
.pro1-bg3{
}
.s3-box1-brd{
	border-bottom:1px solid #f7f7f7;
	margin:50px auto 0 auto;
	
}
a.veiw{
	display:inline-block;
	font-size:20px;
	line-height:24px;
	text-align:center;
	color:#363636;
	text-decoration:underline;
	font-weight:600;
	margin:40px auto 0;
}
/*================================================*/
.section-4 {
    float: left;
    width: 100%;
    padding: 60px 0px;
    text-align: center;
    background: #bdd9ee;
    min-width: 1170px;
}
.s4-prod {
    position: absolute;
    right: 0;
    top: -40px;
    max-width: 440px;
}
.sec4-lft{
	float:left;
	width:50%;
	text-align:left;
	position:relative;
	}
.sec4-lft .s1-btm-p4 {
    width: 100%;
	padding-top: 10px;
}
.section-4 .s1-btm-p2 {
    padding: 0 150px;
    margin: 30px 0 0 0;
}
.sec4-lft-p1{
	font-size:26px;
	line-height:33px;
	font-weight:500;
	color:#252525;
	margin:30px auto 0;
	position:relative;
	display:table;
}	
.sec4-lft-p1:before{
	content: '';
    border-top: 2px solid #ece0df;
    width: 148px;
    position: absolute;
    top: 18px;
    right: -163px;
}
.sec4-lft-p1:after{
	content: '';
	border-top:2px solid #ece0df;
	width:148px;
	position:absolute;
	top:13px;
	left:-163px;
}
ul.s4-list {
    margin: 20px 0 0 0;
    float: left;
    width: 100%;
}
ul.s4-list li {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    color: #565656;
    position: relative;
    padding: 0px 0 0px 23px;
    font-family: 'MrEavesXLModOT';
    font-weight: 700;
    margin-bottom: 10px;
}
ul.s4-list li:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    height: 10px;
    width: 10px;
    background: #333;
    transform: rotate(45deg);
}
ul.s4-list li span{
	font-family: 'MrEavesXLModOT';
	font-weight:700;
	font-size:22px;
	display:block;
	color:#f44336;}
ul.s4-list li:last-child{
	margin-right:0;
}
ul.s4-list li img {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 30px;
}
.s1-btm-p5 {
    float: left;
    width: 100%;
    font-size: 40px;
    line-height: 43px;
    margin-top: 20px;
}
.s1-btm-p5 span{
	font-size:50px;
	line-height:60px;
	font-weight:700;
}
.section-4 .s1-ord-btn {
    margin: 30px auto 0;
}
.s4-p1{
	font-size:22px;
	line-height:25px;
	text-align:center;
	color:#fff;
	font-weight:700;
	letter-spacing:1px;
	text-transform:uppercase;
	display:table;
	border-radius:50px;
	margin:20px auto 0;
	padding:10px 30px;
	background:#7694c9;}	
.s4-prd{
	display:block;
	margin:40px auto 0;}
/*=================================================*/	
/*==================FOOTER================*/

div#footer {
	float: left;
	width: 100%;
	font-size: 16px;
	padding: 0 0 30px 0;
	text-align:center;
	border-top: 1px solid #ccc;
	min-width:1170px;
}
.logo-f {
    max-width: 200px;
    display: inline-block;
    margin-top: 20px;
}
.foter-sec1, .foter-sec2 {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 5px 0;
}

.foter-sec2 .ff-txt2{}
ul.footer-list, .footer-list1 {
	display: inline-block;
    width: 100%;
}
ul.footer-list1 {
    width: 50%;
}
.footer-list li, .foter-sec2 ul li {
	font-weight: 500;
    font-size: 16px;
    padding: 8px 0;
    float: left;
    width: 100%;
	position:relative;
}

.foter-sec2 .footer-list li {
    width: auto;
    display: inline-block;
    float: none;
    margin: 0 10px;
}
.foter-sec2 ul li a{}
.foter-sec2 ul li a:hover{color:#2877be;}
.footer-list li:last-child, .foter-sec2 ul li:last-child {
	border: none;
}
.ft-bd li {
	border-bottom: none;
}
.fttxt {
	font-size: 14px;
	line-height: 24px;
	clear: both;
	margin-top: 10px;
	float: left;
}
.ftr-call {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-top: 10px;
}
.ftr-call p {
    display: inline-block;
    margin: 0 10px;
	position:relative;
	padding-left:30px;
}
.ftr-call span {
    position: absolute;
    left: 0;
    top: 0;
}
.foter-sec2 {
}
.ff-txt2 {
	font-size: 20px;
    line-height: 24px;
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    text-decoration: underline;
}
.ft-lg-txt {
	font-size: 18px;
    line-height: 28px
}
.f-txt4 {
	font-size: 20px;
	line-height: 28px;
	color: #000;
	padding: 20px 0 0;
	float: left;
}
/*------------------------------
CSS FOR PRODUCTS PAGE
--------------------------------*/	
.commen-banner {
    padding: 30px 0;
    float: left;
    width: 100%;
    min-width: 1170px;
    background:#e9ce00;
}
.common-header {
	float: left;
    width: 100%;
	padding:10px 0;
	min-width:1170px;	
}
.common-head{
    color: #0d1214;
    font-size: 50px;
	text-align:center;
    line-height: 60px;
	font-family: 'MrEavesXLModOT';
    font-weight: 700;
	text-align:center;}
	
.prod_mid_txt {
	float: left;
    width:100%;
}
.prod_mid_txt li{
	display:inline-block;
	color: #313131;
    font-size: 18px;
    line-height: 28px;
	position:relative;
	text-align: center;

}
.brdcmb {
	text-align:center;
    width: 100%;
}
.brdcmb li {
	display:inline-block;
    margin-right: 30px;
    font-size: 16px;
    line-height: 22px;
    color: #2d2d2d;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    position: relative;
}
.brdcmb li a {
    font-size: 16px;
    line-height: 22px;
    color: #2d2d2d;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}
.brdcmb li:after {
    content: "\002F \002F";
    position: absolute;
    right: -20px;
    top: 0;
    color: #6d6d6d;
}
.brdcmb li:last-child {
    margin-right: 0;
}
.brdcmb li:last-child:after {
    content: "";
}

.prod_mid_txt li:last-child{margin-right:0;}
.prod_mid_txt li:last-child:after{
	content:"";
}
.prod_mid_txt span {
    display: block;
    color: #fff;
    font-size: 50px;
	text-align:center;
    line-height: 60px;
	font-family: 'MarkPro';
    font-weight: 700;
}
.prod-mid-sec {
    float: left;
	width: 100%;
    text-align: center;
    padding: 50px 0;
    min-width: 1170px;
}
.prd-box1 {
	background: url(../images/pro-box1.png) center top no-repeat;
	width: 270px;
	display: inline-block;
	margin: 70px 25px 0 0;
	vertical-align:top;
}
.prd-box1:nth-child(5), .prd-box1:nth-child(9) {
	margin-right: 0;
}
.prd-box-txt {
	display: inline-block;
	width: 100%;
	font-size: 28px;
	color: #333333;
	margin: 20px 0 20px 0;
	line-height:28px;
}
.prd-box-txt2 {
	display: inline-block;
	width: 100%;
	font-weight: 300;
	color: #363636;
	font-size: 18px;
	padding: 40px 0 0px;
	line-height: 24px;
}
.prd-bdr-mid {
	float: left;
	width: 100%;
	border-top: 1px solid #e6e9e1;
	margin: 61px 0 0px 0;
	padding: 71px 0 0;
}
.prd_price {
	display: inline-block;
	width: 100%;
	font-size: 30px;
	color: #006aaa;
	font-weight: bold;
	line-height: 30px;
	margin-top: 15px;
}
.pro-p1 {
	width: 200px;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
}
.pro-txt1 {
	font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #333333;
    margin: 0 auto 0 auto;
    padding: 25px 0 0 0;
}
.pro-txt2 {
	font-weight: 300;
	font-size: 17px;
	line-height: 22px;
	text-align: center;
	color: #444444;
	margin: 0 auto;
	padding: 0 0 0 0;
}
.pro-btn {
	display: block;
	margin: 14px auto 0 auto;
}
/*------------------------------
CSS FOR prod-deatails PAGE
--------------------------------*/
.prd-details {
	float: left;
	width: 100%;
	padding: 30px 0 50px;
	border-bottom:1px solid #f7f7f7;
	min-width:1170px;
	background:#f9fcff;
	text-align:center;
}
/*.item{
	margin:35px 24px 0 0;}*/
.prod-spec {
	float: left;
	width: 100%;
	text-align:center;
}
.s3-box, .s3-box4 {
    float: left;
    width: 23.20%;
    padding: 0 30px 30px;
	margin:0 10px;
	background-image: linear-gradient(0deg, #c1d4e1, #b8cddc);
}
.s3-box4{}
.prod-top {
	float:left;
	width:100%;
	margin-top:45px;
}
.prds-left {
	float: left;
    width: 41%;
    text-align: center;
	background:#eeeceb;
    padding: 22px 0;
}
.prds-left img {
	display: inline-block;
	vertical-align:middle;
}
.prds-right {
	float: right;
    width: 54.5%;
    text-align: left;
}
.prd-dtl1 {
	font-size: 32px;
	line-height: 34px;
	color: #333333;
	font-weight: 700;
	float: left;
	width: 100%;
}
.prd-dtl1 span {
    font-size: 36px;
	line-height: 44px;
	color: #000;
    display: block;
	font-family: 'MrEavesXLModOT';
    font-weight: 700;
}
.prd-dtl1 img{
	display:block;
	margin:10px 0 0 0;}
.prd-dtl3 {
	float: left;
	width: 100%;
	font-size: 18px;
	line-height: 30px;
	color: #000;
	padding: 15px 0 5px;
	font-weight: 300;
}
ul.prg-bar {
	float: left;
	width: 100%;
	margin-top: 10px;
}
ul.prg-bar li {
	background: url(../images/p-tike.png) no-repeat left 8px;
	float: left;
	width: 96%;
	font-size: 18px;
	color: #000;
	line-height: 30px;
	font-weight: 500;
	padding-left: 42px;
	margin-bottom: 10px;
}
ul.prg-bar li img {
	margin-left: 10px;
	float:right;
	margin-top:5px;
}

.pric-box {
	float: left;
	width: 100%;
	margin-top: 25px;
	padding-bottom: 0px;
}
.add-to-cart, .add-to-cart-mul {
    float: left;
    margin-top: 20px;
}
.pro-dtil-rgt-p2 {
	float: left;
	width: 100%;
	color: #234c6f;
	font-family: 'MrEavesXLModOT';
	font-weight:700;
	font-size: 32px;
	line-height: 24px;	
}
.prd_prc {
	font-size: 17px;
    color: #777777;
    float: left;
    width: 100%;
    line-height: 24px;
}

.prd_quantity {
	float: left;
	font-size: 20px;
	line-height: 28px;
	color: #000;
	width: 40%;
	margin-top: 5px;
}
.prd_quantity p {
	float: left;
	margin-top: 6px;
	margin-right: 20px;
}
.p-blk{ margin-top:51px;}
ul.shop-list{
	padding:0 0 0 0;
}
ul.shop-list li{
	background: url(../images/blue-tk.png) left 9px no-repeat;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    color: #2d2d2d;
    font-weight: 500;
    margin: 8px 0 0 0;
    padding: 0 0 0 35px;
}
.card {
    margin: 30px 0 0 17px;
    max-width: 200px;
    display: inline-block;
}
/*-------Spinner------- */
.wan-spinner2 {
	float: left;
	border: 2px solid #edefed;
}
.wan-spinner2 .minus, .wan-spinner2 .plus, .wan-spinner2 input {
	height: 38px;
	float: left;
	line-height: 1em;
	padding: 0 3px;
	text-align: center;
	border: none;
	line-height: 38px;
	margin: 0 1px;
	font-size: 18px;
	color: #5d5d5d;
	background: #fff;
}
.wan-spinner2 input {
	margin: 0;
	width: 20px;
}
.wan-spinner2 .minus, .wan-spinner2 .plus {
	color: #5d5d5d;
	cursor: pointer;
	text-decoration: none;
	width: 35px;
}
.add-crt {
	float: left;
	margin: 10px 0 0 0;
}
.secure {
	float: left;
	margin: 25px 0px 0 40px;
}
/*-------Accordion------- */

.prd_details {
	float: left;
    width: 100%;
    margin-top: 60px;
}
.accordion {
	background: #fff;
    color: #313131;
    cursor: pointer;
    padding: 15px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 24px;
    transition: 0.4s;
    font-weight: 400;
    border-bottom: 1px solid #ebebeb;
}
.active, .accordion:hover {
	color: #43b02a;
}
.accordion:after {
	content: '';
	background: url(../images/down.png) no-repeat center top;
	width: 11px;
	height: 8px;
	float: right;
	margin-top: 10px;
}
.accordion.active:after {
	content: '';
	background:url(../images/up.png) no-repeat center top;
	width:11px;
	height:8px;
}
.panel {
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	margin-bottom:0px;
	float: left;
	width: 100%;
}
.panel .accordion_cont {
	padding: 0px 0;
    font-size: 17px;
    line-height: 28px;
    color: #2d2d2d;
}
.panel .accordion_cont span {
	float: right;
}
.desc-headr{
	float:left;
	width:100%;
	color:#333b40;
	font-size:22px;
	line-height:26px;
	margin-bottom:10px;
	text-transform:uppercase;
	font-weight:600;
}
.shop-p3 {
	font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #717171;
    margin-bottom: 20px;
    padding: 17px 0;
    float: left;
    width: 100%;
}
.shop-p3 span {
	font-weight: 700;
	float: left !important;
	margin-right: 10px;
}
.shop-p2 {
	font-size: 17px;
	line-height: 28px;
	text-align: left;
	color: #2d2d2d;
}
.seal-icons{
	float:left;
	width:100%;
	font-size:16px;
	color:#737373;
	padding:60px 0;
	}
.seal-icons img{
	max-width:100%;
	float:left;
	border-right:1px solid #ebebeb;
	padding-right:30px;
	}
.seal-icons p{
	width: 55%;
    padding: 13px 20px;
    float: left;
	}
.shp-mid{
	float:left;
	width:100%;
	text-align:center;
	background:url(../images/other-bg.png) no-repeat center top;
	padding:60px 0;
	}
.shp-mid .s2-hd-txt{
	text-transform:none;
	}
.shp-mid .prd-box1{
    margin-right: 15px;
}

/*------------------------------
CSS FOR CONTACT PAGE
--------------------------------*/
.cont-mid {
	float: left;
	width: 100%;
	text-align:center;
	padding: 50px 0 70px;
	min-width:1170px;
	background:#f9fcff;
}
.cont-details{
	float:left;
	width:100%;
	position:relative;

}
.cont-prd{
	position:absolute;
	top:94px;
	right:0;
}
.cont-frm{
	float:left;
	width:575px;
	text-align:left;
}
.cont-frm p{
	float:left;
	width:100%;
	font-size:36px;
	color:#1c1c1c;
	font-weight:600;
	margin-bottom:10px;
}
.frm-element{
	float:left;
	width:100%;
	margin-top:10px;
}
.frm-element label{
	font-weight:600;
	width: 100%;
	font-size:14px;
	line-height:30px;
	color:#2d2a2a;
}
.frmInput, .txtarea{
	float:left;
	border:1px solid #cccccc;
	font-size:13px;
	line-height:13px;
	color:#595959;
	width: 100%;
	height:39px;
	font-weight:600;
	outline:none;
	padding-left:20px;
}
.rl{ float:right;}
.txtarea{
    width: 100%;
    height: 152px;
    resize: none;
    padding-top: 20px;	
	}
.send-btn{

	}
.cont-right{
	float: left;
    width: 100%;
    text-align: center;
}
.cont-p1 {
	text-align: center;
    font-size: 55px;
    color: #0b1f3f;
    font-weight: 600;
    margin-bottom: 10px;
}
.cont-p2 {
	text-align:left;
    font-size: 20px;
	line-height:30px;
	font-style:italic;
    color: #2d2a2a;
    margin-bottom: 10px;
}
.cont-prt{
	width:60%;
	float:left;
}
.cont-list {
    float: right;
    width: 36%;
    text-align: center;
    position: relative;
    background: #f44336;
    padding-bottom: 10px;
    border-radius: 30px;
}
.cont-list li {
    float: left;
    width: 100%;
    line-height: 22px;
    font-size: 15px;
    color: #fff;
    position: relative;
    text-align: center;
    margin: 0px 0 0 0;
    padding: 20px 0 0 0px;
}

.cont-list li span {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
}

.cont-icon1{
	display:block;
	margin:0 auto 10px;
	}
.cont-pro {
	display: inline-block;
	vertical-align: top;
	padding: 40px 0
}
.cont-rit {
    float: left;
    width: 60%;
    text-align: left;
}
.send-btn {
    float: left;
    margin-top: 20px;
    border: none;
    outline: none;
}
.contact-form{
	float:right;
	width:100%;
	padding:10px 0px;
	border-radius:20px;
	}
.contac-txt1 {
    float: left;
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
    padding-bottom: 10px;
	font-family: 'Gotham';
	font-weight:400;
}
.text{
	float: left;
    width: 48%;
    /* background: #fff; */
    /* border-radius: 35px; */
    padding: 12px 18px;
    text-align: left;
    margin-right: 0px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 21px;
    color: #000;
	font-family: 'Gotham';
    outline: none;
    border: 2px solid #ccc;
	}
.text1 {
    min-height: 100px;
    resize: none;
}
.label{
	float: left;
    width: 48%;
    margin-right: 20px;
	}
.label:last-child{ width:100%; margin-right:0;}
.label:nth-child(3) { margin-right:0;}
.text:last-child{ width:100%; margin-right:0;}
.thanks-box {
	float: left;
	width: 100%;
	text-align: center;
	padding: 30px 0;
}
.ing-pro, .rovo_keto {
	width: 161px;
	display: inline-block;
	float: left;
	margin: 30px 0 0 0;
}
.rovo_keto {
	margin: 30px 0 0 50px;
	width: auto;
}

/********************************************************/
.prod-option{
	float:left;
	width:100%;
	margin-top:20px;
	}
.prod-option ul{
	float:left;
	width:50%;
	}
.prod-option ul li {
    float: left;
    width: 100%;
    font-size: 20px;
    text-align: left;
}
.prod-option ul li:last-child {
    float: right;
}
.prod-option ul li input[type=radio] {
    height: 15px;
    width: 15px;
    line-height: 15px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
	visibility: hidden;
}
.prod-option ul li label {
    cursor: pointer;
    float: left;
    padding: 10px 0 10px 60px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
	background: #ccc ;
	background-size: 31px;
}
.prod-option ul li input[type="radio"]:checked+label {
    background: #f44336;
    color: #fff;
    background-size: 31px;
}
.options{
	float:left;
	width:100%;
	font-size:20px;
	}
.options span{
	display:block;
	font-size:24px;
	font-weight:700;
	margin-bottom:10px;
	}
.options input[type=radio]{
	margin-bottom: 10px;
    height: 15px;
    width: 15px;
    line-height: 15px;
	}
.payment_label {
    width:60%;
    display: inline-block;
    vertical-align: top;
}
.section1_fields {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.section2_fields {
    border: 1px solid #656565;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    background: #f44336;
    color: #fff;
}

.section1_fields li {
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}
.section2_fields a {
    text-decoration: underline;
    color: blue;
}
.section1_fields li span {
    float: right;
}
.section1_fields li:first-child{font-weight:700}
.price.line-1 {
    line-height: 20px;
}
.option-price {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    width: 38%;
    text-align: right;
	font-size:16px !important;
	color:#000 !important;
}
.divider {
    border-top: 1px solid lightgrey;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.trial-option, .one-time-option{
	float:left;
	width:100%;
	padding:10px;
	display:none;
}
.trial-option a:hover {
    color: #333;
}
.trms-box{
	float:left;
	width:100%;
	margin-top:20px;
	}
.trms-box h1, .trms-box h2{
	float:left;
	width:100%;
	margin:10px 0;
	}
.trms-box ul{
	float:left;
	width:100%;
	padding-left: 0 !important;
	}
.trms-box ul li, .trms-box p {
    float: left;
    width: 100%;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 22px;
}
.try-trms a {
    text-decoration: underline;
    color: blue;
}

.trms-box ul li, .trms-box ol li {
    list-style: circle;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
    float: left;
    width: 100%;
}
.trms-box ol.num-list li {
    list-style: auto;
}

/*************************************************/
.innr_bg {
    float: left;
    width: 100%;
    padding: 30px 0 40px;
}
.innr_bg h2 {
    margin-bottom: 10px;
}
.innr_bg p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
}
.innr_bg ol li {
    list-style: disc;
    font-size: 16px;
    line-height: 24px;
}
.innr_bg_div {
    float: left;
    width: 100%;
}
.innr_bg ul {
    padding-left: 30px;
}
.innr_bg ul li {
    margin-bottom: 5px;
    list-style: disc;
    padding-left: 0;
}
.term-link {
    float: left;
    width: 50% !important;
    margin-bottom: 20px;
}
.term-link li {
    list-style: none !important;
    margin: 0 !important;
}
.term-link li a {
    font-size: 20px;
    line-height: 24px;
    color: blue;
    text-decoration: underline;
}
.renwal,.renwal:hover {
    text-decoration: underline;
    display: inline-block;
    color: blue;
}

/***************************************************/
.auto-renew{
	text-align:center;
}
.pop_form {
    display: inline-block;
    width: 60%;
    background: #e8e4e4;
    padding: 20px 0 20px 0px;
}

.pop_form .cancel_hed {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}
.pop_form .cancel_text {
    font-size: 20px;
    line-height: 30px;
}
.cancel_from {
    float: left;
    width: 100%;
    padding: 0 30px;
}
.from_elemnt {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.from_elemnt label {
    float: left;
    width: 40%;
    padding: 8px 10px 0 0;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
}
.from_elemnt input[type="text"], .from_elemnt textarea {
    float: right;
    height: 40px;
    width: 59%;
    padding: 5px;
    text-align: left;
    outline: none;
	font-family: 'Roboto', sans-serif;
    border: none;
}
.from_elemnt textarea {
	height:100px;
	resize:none;
}

.cancel_from .btn {
    border: none;
    outline: none;
    margin-top: 20px;
}

tt {
    font-family: 'MrEavesXLModOT-Book';
	word-break: keep-all;
	white-space: nowrap;
}